.App {
  text-align: center;
}

.App-header {
  background-color: #98d87a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: rgb(31, 28, 28);
}

.App-link {
  color: #113c48;
}
